body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background-color: #B3A0FF;
  font-family: 'JetBrains Mono', monospace;
}

main {
  width: 390px;
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px;
  background-color: #1C1148;
  box-shadow: 10px 15px 15px 5px rgba(79, 58, 161, 0.5);
}

.screen {
  color: #F2DA00;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 38px;
  padding: 15px;
  width: 75%;
  height: 22%;
  margin: 28px;
  border-radius: 15px;
  background-color: #27166D
}

.container-buttons {
  width: 80%;
  height: 55%;
  display: grid;
  grid-template-columns: repeat(4,20fr);
  grid-template-rows: repeat(4,20fr);
  grid-gap: 25px 15px;
  justify-content: center;
  align-items: center; 
}

 .buttons {
  border: none;
  width: 62px;
  height: 62px; 
  display: flex;
  cursor: pointer;
  color: #F2DA00;
  font-size: 25px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  font-family: 'JetBrains Mono', monospace;
  background-color:#1C1148;
  /* outline-color: var(--buttons-color); */
 }

 .buttons:hover { 
  background-color: #27166D;
  border: solid 1px white;

 }

 .operadores {
  color: #00A3FF;
  font-size: 36px;
 }

 .all-clean {
  color:white;
 }